@font-face {
    font-family: 'Atkinson';
    src: url("/font/AtkinsonHyperlegibleMono-VariableFont_wght.ttf") format("truetype");
    font-weight: 200 800;
}

@font-face {
    font-family: 'Atkinson';
    src: url("/font/AtkinsonHyperlegibleMono-Italic-VariableFont_wght.ttf") format("truetype");
    font-style: italic;
    font-weight: 200 800;
}

html, body {
    margin: 0;
}

body {
    margin: 1em;
    font-size: 14px;
    font-family: 'Atkinson', monospace;
    max-width: 40em;
    line-height: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1em;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

figure a {
    background: transparent;
}

img {
    width: 100%;
}

summary {
    border: 1px dotted transparent;
    cursor: pointer;
}

summary:focus {
    outline: none;
    border: 1px dotted black;
}

ul {
    list-style-position: outside;
}

@media print {
    header {
        display: none;
    }
    summary:focus {
        border: none;
    }
    a:visited {
        color: blue;
    }
    a:hover {
        text-decoration: none;
    }
}