html, body {
    margin: 0;
}

body {
    margin: 1em;
    font-family: monospace;
    max-width: 40em;
    line-height: 1.5em;
}

a {
    text-decoration: none;
    background: rgba(255, 255, 0, .3);
    color: black;
}

figure a {
    background: transparent;
}

img {
    width: 100%;
}

summary {
    border: 1px dotted transparent;
    cursor: pointer;
}

summary:focus {
    outline: none;
    border: 1px dotted black;
}

ul {
    list-style-position: outside;
}

@media print {
    header {
        display: none;
    }
    summary:focus {
        border: none;
    }
}