html {
  --links: #7585bf;
  --bg: white;
  --text: black;
  --font-size: 11pt;
}

body {
  margin: 0;
  background-color: var(--bg);
  font-family: 'Times New Roman', serif;
  font-size: var(--font-size);
}

a {
  color: var(--links);
  text-decoration: none;
}
a:hover {
  background-color: var(--links);
  color: var(--bg);
  cursor: pointer;
}

ul {
  margin: 0;
}

@media only screen and (max-width: 800px) {
  #main {
    width: 100%;
    height: fit-content;
  }
  #frame {
    width: 100%;
  }
  #container {
    padding-bottom: 5em;
  }
  #tag {
    position: absolute;
    top: auto;
    bottom: 0;
    padding: 2em;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    height: 5em;
  }
}

@media only screen and (max-width: 480px) {
  li {
    flex-direction: column;
  }

  .category {
    flex-direction: row;
  }

  #main {
    padding: calc(var(--font-size) * 1.5);
    width: 100%;
    height: fit-content;
  }

  #frame {
    width: 100%;
    height: 60vh;
  }

  .date {
    flex-basis: 0;
  }
  .date + span {
    margin-bottom: calc(var(--font-size) * 1.2);
  }
}

@media only screen and (max-device-width: 480px) {
  html {
    --font-size: 30pt;
  }

  #container {
    padding-bottom: 5em;
  }
  #tag {
    position: absolute;
    top: auto;
    bottom: 0;
    padding: 2em;
    width: 100vw;
    text-align: center;
    box-sizing: border-box;
    height: 5em;
  }
}