<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title | default: "q1's website" }}</title>
    <link rel="stylesheet" href="/static/base.css">
    <link rel="icon" type="image/png" href="/static/favicon.png">
    <script src="/static/picturefill.min.js" async></script>
</head>
<body>

    {% unless page.url == "/" %}
    <nav>
        <button style="margin-right: 1ch" onclick="history.back()">↩</button>
        {% assign pages = page.url | split: "/" %}
        {% for folder in pages %}
            {% if forloop.first %}
                <a href="/">home</a>
            {% elsif forloop.last %}
                {{ title | default: folder }}
            {% else %}
                {% assign path = pages | slice: 0, forloop.index | join: '/' %}
                <a href="{{ path }}">{{ folder }}</a>
            {% endif %}
            {% unless forloop.last %}·{% endunless %}
        {% endfor %}
    </nav>

    {% endunless %}

    <main>
        {{ content }}
    </main>
    
</body>

<script>
    window.addEventListener("load", () => {
        var detailsList = document.querySelectorAll("details");
        for (let i=0; i<detailsList.length; i++) {
            const details = detailsList[i];
            const key = "detail-" + location.pathname.replaceAll("/", "-") + i;
            const stored = localStorage.getItem(key);

            if (stored) {
                if (stored == "true") {
                    details.setAttribute("open", true);
                } else {
                    details.removeAttribute("open");
                }
            }

            details.addEventListener("toggle", function() {
                if (this.open) {
                    localStorage.setItem(key, "true");
                } else {
                    localStorage.setItem(key, "false");
                }
            })
        }
    })
</script>
</html>