@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&display=swap');

:root {
    --link-color: blue;
    --link-visited: blue;
    --link-active: red;
    --border-light: rgba(0, 0, 0, .1);
}

html, body {
    margin: 0;
    font-size: 14px;
}

body {
    margin: 1.5em;
    font-family: 'Atkinson', monospace, sans-serif;
    max-width: 40em;
    line-height: 1.5em;
}

h1, h2, h3, h4, h5, h6, summary {
    font-family: 'Arial', sans-serif;
    line-height: 1em;
}
h1, h2, h3 {
    font-weight: bold;
    margin: .5em 0;
}
h4, h5, h6, summary {
    font-weight: normal;
    margin: 0;
}
h1 { font-size: 2em }
h2 { font-size: 1.5em }
h3 { font-size: 1.25em }
h4 { font-size: 1em }
h5 { font-size: .8em }
h6 { font-size: .5em }
summary { font-size: 1.15em }

figure {
    margin: 0;
    position: relative;
    line-height: 0;
}
figcaption {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    display: none;
    background: var(--link-color);
    color: white;
    padding: .75em;
    line-height: 1.5em;
    font-size: 1rem;
    font-family: 'Atkinson', monospace, sans-serif;
}
figure:hover figcaption {
    display: block;
}

img {
    max-width: 100%;
    height: auto;
    line-height: 0;
}

hr {
    display: block;
    background-image: url("/static/border.png");
    background-size: contain;
    background-repeat: repeat-x;
    height: .5em;
    width: 100%;
    border: none;
    image-rendering: pixelated;
    margin: 1.5em 0;
}

a, button {
    text-decoration: none;
    color: var(--link-color);
}
a:visited {
    color: var(--link-visited);
}
a:active, button:active {
    color: var(--link-active);
}
a:hover, button:hover {
    text-decoration: underline;
}
a[target="_blank"]::after {
    content: " ";
    display: inline-block;
    vertical-align: middle;
    height: 1em;
    width: 1em;
    background-image: url("/static/external-link.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    image-rendering: pixelated;
}

button {
    border: 1px dotted black;
    border-radius: 0;
    background: transparent;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
}
button:hover {
    border-style: solid;
}
button:active {
    border-color: var(--link-active);
}

details {
    border: 1px solid var(--border-light);
    margin-bottom: .5em;
}

summary {
    background: white;
    cursor: pointer;
}
summary:focus {
    outline: none;
}
details[open] summary {
    border-bottom: 1px solid var(--border-light);
}
summary {
    list-style-type: "";
}
summary::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 1.5em;
    width: 1.5em;
    margin-right: .25em;
    background-image: url("/static/details-closed.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    image-rendering: pixelated;
}

ul, ol {
    padding-left: 3em;
    list-style: none;
}
ul li {
    position: relative;
}
ul li::before {
    content: '';
    position: absolute;
    left: -1.3em;
    height: 1em;
    width: 1em;
    background-image: url("/static/list-icon-1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    image-rendering: pixelated;
}
ul li:nth-child(3n + 1)::before {
    background-image: url("/static/list-icon-2.png");
}
ul li:nth-child(3n + 2)::before {
    background-image: url("/static/list-icon-3.png");
}

nav {
    border: 1px solid var(--border-light);
    width: fit-content;
}
nav button, nav button:hover, nav button:active {
    border: none;
    border-right: 1px solid var(--border-light);
}

@media print {
    body {
        max-width: unset;
    }
    nav {
        display: none;
    }
    summary:focus {
        border: none;
    }
    a:visited, a:active {
        color: var(--link-color);
    }
    a:hover {
        text-decoration: none;
    }
    a[target="_blank"]::after {
        display: none;
    }
}